:root {
  --dark: #0E1210;
  --light: #F1F0EA;
}

body {
  background: var(--light);
  font-family: Poppins, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 380px;
  background: var(--dark);
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.4);
  color: var(--light);
  position: relative;
}

.switcher {
  display: flex;
  position: relative;
  background: rgba(255,255,255,0.05);
  border-radius: 50px;
  overflow: hidden;
  margin-bottom: 25px;
}

.switcher button {
  flex: 1;
  padding: 10px;
  border: none;
  background: transparent;
  color: var(--light);
  font-weight: 600;
  cursor: pointer;
  z-index: 2;
}

.switcher .slider {
  position: absolute;
  width: 50%;
  height: 100%;
  background: var(--light);
  top: 0;
  left: 0;
  border-radius: 50px;
  transition: 0.3s;
}

.switcher button.active {
  color: var(--dark);
}

.form {
  display: none;
  flex-direction: column;
  gap: 12px;
}

.form.active {
  display: flex;
}

input {
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: rgba(255,255,255,0.15);
  color: var(--light);
}

button {
  padding: 12px;
  border: none;
  background: var(--light);
  color: var(--dark);
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.project-name {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 26px;
    font-weight: 600;
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
    color: var(--bg-light);
    letter-spacing: 2px;
    text-transform: uppercase;
    opacity: 0.9;
    user-select: none;
}
